<ion-content>

  <div id="logo" text-center>
    <img src="./assets/imgs/golf_new.jpg">

    <ion-segment class="seg1" [(ngModel)]="opt" color="light">
      <ion-segment-button class="segment-button" value="signin">
        Sign In
      </ion-segment-button>
      <ion-segment-button value="signup">
        Sign Up
      </ion-segment-button>
    </ion-segment>

  </div>



  <div [ngSwitch]="opt">
    <form  *ngSwitchCase="'signin'">

      <ion-item>
        <ion-label floating>
          Email</ion-label>
        <ion-input type="text" #email></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" #password></ion-input>
      </ion-item>


      <!-- <div padding text-center>
          <button ion-button round color="light" icon-right>
            Sign in <ion-icon name="log-in"></ion-icon>
          </button>
        </div> -->
        <br>
        <br>
      <p class="pad">
        <button ion-button round color="button_color" class="button button-dark customBtn" (tap)="login()"> LOGIN </button>
      </p>
      
      <!-- <p class="pad"><b style=" color: white;"><p style=" color: white;">Don't have an accou </p> </b> </p> -->


    </form>

    <form  *ngSwitchCase="'signup'">
      <ion-item>
        <ion-label floating> Email</ion-label>
        <ion-input type="text" #email></ion-input>
      </ion-item>

      <ion-item>
          <ion-label floating> Username</ion-label>
          <ion-input type="text" #username></ion-input>
        </ion-item>

      <ion-item>
        <ion-label floating> Fullname</ion-label>
        <ion-input type="text" #fullname></ion-input>
      </ion-item>

      
      <ion-item>
        <ion-label floating> Mobile number</ion-label>
        <ion-input type="tel" #mobile></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" #password></ion-input>
      </ion-item>


      <p class="pad">
        <button ion-button round color="button_color" class="button button-dark customBtn" (tap)="signup()"> SIGNUP </button>
      </p>
    </form>

  </div>
</ion-content>