 .md {


page-login {
    div#logo {
      margin-top: -20px;
      margin-bottom: 12px;
    }
    .content {
      background-color: color($colors, primary);
      color: white;
    }
    .item {
      background-color: color($colors, primary);
      color: white;
    }
  
    ion-label {
      color: color($colors, light);
    //   text-align: center;
      margin: 0;
    }
  
    .label {
      margin: 0 0 5px 0;
      color: white;
    }
  
    // ion-input {
    //   background-color: #fff;
    //   border-radius: 500px;
    //   margin: 0 0 25px 0;
    // }

    .seg1{
        margin-top: -42px; 
        border-color: transparent; 
    }
    .pad{

        text-align:center;    

    } 

    .button.customBtn{
        // width:340px;
         width: 80%;
        
          left: 0%;
    }


    .segment-ios .segment-button {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 0;
        height: 3.2rem;
      /*   border-width: 1px; */
      /*   border-style: solid; */
        border-color: transparent;
        font-size: 1.3rem;
        line-height: 3rem;
        color: #fff;
        background-color: transparent;
      }

      .segment-ios-light .segment-button.segment-activated {
        color: #fff;
        background-color: transparent;
        border-bottom-color: #4eff00;
      }



        .segment-md-light .segment-button.activated, .segment-md-light .segment-button.segment-activated {
            border-color: #4eff00;
            color: #f7f7f7;
            opacity: 1;
          }
    
          .item-md.item-input.item-input-has-focus .item-inner,
          .item-md.item-input.input-has-focus .item-inner {
            border-bottom-color: white;
            -webkit-box-shadow: inset 0 -1px 0 0 #2e0729;
            box-shadow: inset 0 -1px 0 0 #2e0729;
          }
          
          .list-md .item-input.item-input-has-focus:last-child,
          .list-md .item-input.input-has-focus:last-child {
            border-bottom-color: white;
            -webkit-box-shadow: inset 0 -1px 0 0 #2e0729;
            box-shadow: inset 0 -1px 0 0 #2e0729;
          }


  }
}


.ios{

    page-login {
        div#logo {
          margin-top: -20px;
          margin-bottom: 12px;
        }
        .content {
          background-color: color($colors, primary);
        }
        .item {
          background-color: color($colors, primary);
        }
      
        ion-label {
          color: color($colors, light);
        //   text-align: center;
          margin: 0;
        }
      
        .label {
          margin: 0 0 5px 0;
        }
      
        // ion-input {
        //   background-color: #fff;
        //   border-radius: 500px;
        //   margin: 0 0 25px 0;
        // }
    
        .seg1{
            margin-top: -35px; 
            border-color: transparent; 
        }
        .pad{
    
            text-align:center;    
    
        } 
    
        .button.customBtn{
            // width:340px;
             width: 80%;
            
              left: 0%;
        }
    
    
        .segment-ios .segment-button {
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            width: 0;
            height: 3.2rem;
          /*   border-width: 1px; */
          /*   border-style: solid; */
            border-color: transparent;
            font-size: 1.3rem;
            line-height: 3rem;
            color: #fff;
            background-color: transparent;
          }
    
          .segment-ios-light .segment-button.segment-activated {
            color: #fff;
            background-color: transparent;
            border-bottom-color: #4eff00;
          }
    
    
    
         
    
    
    
        // .segment-button {
            
        //     background-color: transparent;
        // }
        // .font_color{
        // color: #fff;
    
        // }
    
    
        
        .platform-android   ion-segment{
                margin-top: -42px; 
                border-color: transparent; 
            }
    
            .segment-md-light .segment-button.activated, .segment-md-light .segment-button.segment-activated {
                border-color: #4eff00;
                color: #f7f7f7;
                opacity: 1;
              }
        
    
    
    
      }
}