
        // .ion-ios-customicon-outline,
        // .ion-ios-customicon,.ion-md-customicon,.ion-md-customicon-outline {
        //   content: url('assets/icon/activity.png');
        // }

page-tabs{

    // .background{
    //     background-color: white;
        
    //           }





        //       ion-icon {
        //         background-repeat: no-repeat;
        //         background-position: 50%;
        //         background-size: contain;
        //         background-size: 18px;
        
        //         &[ng-reflect-name="customicon"] {
        //             background-image: url('assets/icon/activity.png');
        //             &[ng-reflect-is-active="true"] {
        //                 background-image: url('assets/icon/activity.png');
        //             }
        //         }
        // }

//         .ion-ios-customicon-outline,
// .ion-ios-customicon,.ion-md-customicon,.ion-md-customicon-outline {
//   content: url('assets/icon/activity.png');
// }



    //  .tab-button-icon {
    //         margin-top: 1px;
    //         min-width: 2.4rem;
    //         font-size: 2.4rem;
    //         background-image: url('/assets/icon/activity.png');
    //         color: white;
    //         -webkit-transition: -webkit-transform 0.3s ease-in-out;
    //         transition: -webkit-transform 0.3s ease-in-out;
    //         transition: transform 0.3s ease-in-out;
    //         transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    //         -webkit-transform-origin: 50% 150%;
    //         transform-origin: 50% 150%;
    //       }
          


}