<ion-tabs class="background">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <!-- <ion-tab [root]="tab2Root" tabTitle="Groups" tabIcon="groups"></ion-tab> -->
  <ion-tab [root]="tab3Root" tabTitle="Games" tabIcon="activity"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Chats" tabIcon="message"></ion-tab>
  <ion-tab [root]="tab5Root"  tabTitle="Me" tabIcon="customicon"></ion-tab>
</ion-tabs>

<!-- <ion-tabs class="background">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home" ></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Scoreboard" tabIcon="groups"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Games" tabIcon="activity"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Chats" tabIcon="message"></ion-tab>
  <ion-tab [root]="tab5Root"  tabTitle="Me" tabIcon="customicon"></ion-tab>
</ion-tabs> -->


<!-- <ion-tab [root]="MenuPage"
       tabsHideOnSubPages="true"
       tabIcon="customicon"
       tabTitle="Menu">
</ion-tab> -->