.md {

    
page-play-game {
    .center{

        text-align: center;
      }

      .background{
background-color: #2e0729;

      }

      .background-t{
        background-color: #2e0729;
        color: white;
        border-bottom-color: #ff0048;
        
              }

      .red{
        // margin-top: -20px;
        background-color: #ff0048;
        text-align: left;
        color: white;
        font-size: 80%;
        height: 0%;
        // margin-top: -10%;
       
    }
  

    .list-md .item-block .item-inner {
        border-bottom: 1px solid #ff0048;
      }

      .item-md.item-block .item-inner {
         padding-right: 0px;
        
      }

      .item-md [item-end] {
        margin: 0px 0px 0px 0;
    }

    .item-md ion-avatar[item-start] {
     margin: 0px 0px 0px 0; 
    }

    .item-md ion-avatar img {
        border-radius: 50%;
        overflow: hidden;
        width: 80px;
        height: 80px;
        
    }
      .item-md {
        padding-left: 0px;
        padding-right: 0;
        position: relative;
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .label-md {
        margin: 10px 8px 13px;
    }

    .dot {
        height: 10px;
        width: 10px;
        background-color: #32db64;
        border-radius: 50%;
        display: inline-block;
      }
}
}