<ion-header>
  <ion-navbar>
    <ion-title class="center">Play Game</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="background">
  <ion-item no-lines class="red"> Active players</ion-item>

  <ion-list>


    <ion-item class="background-t" *ngFor="let menu of items">
      <ion-avatar item-start>
        <img src="./assets/imgs/golf_round.png">
      </ion-avatar>
      <h2>{{ menu.username }}</h2>
      <p style="color:white">Tennis</p>

      <img src="./assets/imgs/chat.png" height="60px" width="60px" item-end (tap)="chat(menu.id,menu.username)">
      <img src="./assets/imgs/schedule.png" height="60px" width="60px" item-end (tap)="schedule(menu.id,menu.username)">

    </ion-item>

    


  </ion-list>

</ion-content>