
.md {

    
    page-chat {

      .innerMessage{
        display: inline-block;
        padding: 5px 10px;
        background: color($colors, 'secondary');
        margin: 5px;
        color: white;
        border-radius: 5px;
      }

      .innerMessage.MessageRight{
        
        background: color($colors, 'light');
        
      }

      .message{
        font-size: 100%;
      }

      .username{
        font-weight: bold;
        font-size: 80%
      }
      .elem button{
        border-radius: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%
      }
      .elem{
        position: relative;
        min-width: 50px;
      }

      .message:after{
        content: "";
        display: block;
        clear: both
      }

      .messageLeft{
        float: left
      }

      .messageRight{
        float: right;
        background: color($colors, 'custom');
      }






        .center{
    
            text-align: center;
          }
    
          .background{
    background-color: #2e0729;
    
          }
    
          .background-t{
            background-color: #2e0729;
            color: white;
            border-bottom-color: #ff0048;
            
                  }
    
          .red{
            // margin-top: -20px;
            background-color: #ff0048;
            text-align: left;
            color: white;
            font-size: 80%;
            height: 0%;
            // margin-top: -10%;
           
        }
      
    
        .list-md .item-block .item-inner {
            border-bottom: 1px solid #ff0048;
          }
    
          .item-md.item-block .item-inner {
             padding-right: 0px;
            
          }
    
          .item-md [item-end] {
            margin: 0px 0px 0px 0;
        }
    
        .item-md ion-avatar[item-start] {
         margin: 0px 0px 0px 0; 
        }
    
        .item-md ion-avatar img {
            border-radius: 50%;
            overflow: hidden;
            width: 80px;
            height: 80px;
            
        }
          .item-md {
            padding-left: 0px;
            padding-right: 0;
            position: relative;
            transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .label-md {
            margin: 10px 8px 13px;
        }
    
        .dot {
            height: 10px;
            width: 10px;
            background-color: #32db64;
            border-radius: 50%;
            display: inline-block;
          }
    }



    // ion-content {
    //     background: url(../assets/imgs/chat-back.png) no-repeat center center fixed;
    //     background-size: cover;
    //     height: 100%;
    //     overflow: hidden;
    //     .item-md, .item-ios {
    //       background: none;
    //     }
    //   }
      ion-footer {
        background: white;
        ion-icon {
          padding: 10px;
          font-size: 20px;
          color: green;
        }
      }
      .chat-status {
        min-height: 49px;
        .chat-date {
          display: block;
          font-size: 10px;
          font-style: italic;
          color: #fff;
          text-shadow: 0px -1px 0px #222, 0px 1px 0px #aaa;
          height: 15px;
          left: 10%;
          right:10%;
        }
        .chat-content-center {
          padding: 5px 10px;
          background-color: #e1e1f7;
          border-radius: 6px;
          font-size: 12px;
          color: #555;
          height: 34px;
          left: 10%;
          right:10%;
        }
      }
      .chat-message {
        width: 80%;
        min-height: 40px;
        .right-bubble {
            position: relative;
            background: #2e0729;
            border-top-left-radius: .4em;
          border-bottom-left-radius: .4em;
          border-bottom-right-radius: .4em;
          padding: 5px 10px 10px;
          left: 15%;
          span.msg-name {
            font-size: 12px;
            font-weight: bold;
            color: green;
          }
          span.msg-date {
            font-size: 10px;
          }
        }
    
        .right-bubble:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 0;
            height: 0;
            border: 27px solid transparent;
            border-left-color: #dcf8c6;
            border-right: 0;
            border-top: 0;
            margin-top: -13.5px;
            margin-right: -27px;
        }
        .left-bubble {
            position: relative;
            background: #ffffff;
          border-top-right-radius: .4em;
          border-bottom-left-radius: .4em;
          border-bottom-right-radius: .4em;
          padding: 5px 10px 10px;
          left: 5%;
          span.msg-name {
            font-size: 12px;
            font-weight: bold;
            color: blue;
          }
          span.msg-date {
            font-size: 10px;
          }
        }
    
        .left-bubble:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 0;
            height: 0;
            border: 27px solid transparent;
            border-right-color: #ffffff;
            border-left: 0;
            border-top: 0;
            margin-top: -13.5px;
            margin-left: -27px;
        }
      }








    }