<ion-header>
  <ion-navbar>


    <ion-item no-lines class="background-t">
      <ion-avatar item-start>
        <img src="assets/imgs/golf_round.png">
      </ion-avatar>
      <h2>{{player_username}}
        <span class="dot"></span>
      </h2>
      <p style="color:white">Online</p>

    </ion-item>
  </ion-navbar>
</ion-header>


<ion-content class="background">
  <ion-item no-lines class="red"> Chat Player</ion-item>

  <div id="chatMessages">
    <div class="message" *ngFor="let menu of items">
       <div [class]="menu.username == username ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
          <div class="username">{{ menu.username }}</div>
        <div class="message">{{ menu.message }}</div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input type="text" placeholder="Type a message" [(ngModel)]="message" name="message"></ion-input>
      </ion-col>
      <ion-col col-2 (tap)="sendMessage()">
       <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>