<ion-header color="ash">

    <ion-navbar color="ash">
  
  <div class="center">
      <!-- <h5 class="position"><b style=" color: #2e0729"> TENNIS </b></h5> -->
        <br>
     <p class="position1" style=" color: #2e0729;"> Game info </p>
      
    </div>

    </ion-navbar>
  
  </ion-header>


<ion-content class="background">
    <ion-card class="wide">
        
        <ion-row class='green'>
            <ion-col col-12> 
                <h2 class="position" style=" color: #2e0729;"><b>Game Information</b></h2>
            </ion-col>
          
        </ion-row>
        <ion-row class='red'>
            <ion-col col-8> 
                <b class="position" style=" color: #2e0729;">{{username}}</b>
            </ion-col>
           
            <ion-col col-4>
                <b class="position" style=" color: #2e0729;">{{player_username}}</b>
            </ion-col>
        </ion-row>
     
        <ion-row>
            <ion-col col-4> 
                <img src="./assets/imgs/golf_round.png"  height="100%" width="200%">
            </ion-col>
            <ion-col col-3>
                 <h2 class="down">{{user_scores}}-{{opponent_scores}}</h2>
            </ion-col>
            <ion-col col-4>
                <img src="./assets/imgs/golf_round.png"  height="100%" width="200%">
            </ion-col>
        </ion-row>
       
        
      </ion-card>

   
</ion-content>
