page-game-history {

    .center{

        text-align: center;
      } 


      .position{
        margin-top: 6%;  
    }

    .position1{
        margin-top: -7%;  
    }


    .background{
        background-color: #2e0729;
        
              }

              .wide{
                width: 100%;
                
                
            }

            .red{
                background-color: #d6d6d6;
                // margin-top: -40%;
                height: 0%;
                
                }


                .green{
                    background-color: #32db64;
                    
                }

                .position{
                    text-align: center;
                    
                    margin-top: 0%;  
                }


                .down{
                    margin-top: 60%; 
                }

                .content-md {
                    color: white;
                }



                // ion-modal.my-popup {
                //     @media (min-width: 300px) and (min-height: 500px) {
                //       ion-backdrop {
                //         visibility: visible;
                //       }
                //     }
                  
                //     .modal-wrapper {
                //       position: absolute;
                //       overflow: hidden;
                //       max-width: 280px;
                //       border-radius: 2px;
                //       width: 80vw;
                //       height: 50vh;
                //       top: 0;
                //       bottom: 0;
                //       left: 0;
                //       right: 0;
                //       margin: auto;
                //       border: 0;
                //       box-shadow: 0 16px 20px rgba(0,0,0,.4);
                //       background-color: #fafafa;
                //     }
                //   }




                //   ion-modal.my-popup {
                //     @media (min-height: 500px) {
                //       ion-backdrop {
                //         visibility: visible;
                //       }
                //     }
                  
                //     position: absolute;
                //     top: 0;
                //     right: 0;
                //     bottom: 0;
                //     left: 0;
                //     z-index: $z-index-overlay;
                  
                //     display: flex;
                  
                //     align-items: center;
                //     justify-content: center;
                  
                //     contain: strict;
                //     .modal-wrapper {
                //       &,
                //       .ion-page,
                //       .ion-page .content,
                //       .ion-page .content .scroll-content {
                //         contain: content;
                //         position: relative;
                //         top: auto;
                //         left: auto;
                //       }
                  
                //       z-index: $z-index-overlay-wrapper;
                //       display: flex;
                //       overflow: hidden;
                  
                //       flex-direction: column;
                  
                //       min-width: $alert-min-width;
                //       max-height: $alert-max-height;
                  
                //       opacity: 0;
                  
                //       height: auto;
                //       max-width: $alert-md-max-width;
                //       border-radius: $alert-md-border-radius;
                //       background-color: $alert-md-background-color;
                //       box-shadow: $alert-md-box-shadow;
                  
                //       .ion-page .content {
                //         background-color: color($colors, light);
                //       }
                //     }
                //   }

}
