<ion-header>
  <ion-navbar>
    <ion-title class="center">SportsLinkup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">

  <ion-card class="wide">
    <img src="./assets/imgs/bball.jpg" class="margin" (tap)="play()" />
    <ion-item class='red' (tap)="play()">
      <h2 class="mid" style=" color: white;">
        <b>Play Game</b>
      </h2>
      <br/>
      <p class="mid1" style=" color: white;">Enter to play a game</p>
    </ion-item>
  </ion-card>

  <ion-card class="wide">
    <img src="./assets/imgs/host.jpg" class="margin" (tap)="error()" />
    <ion-item class='red' (tap)="error()">
      <h2 class="position" style=" color: white;">
        <b>Host Activity</b>
      </h2>
      <br/>
      <p class="position1" style=" color: white;">Let others join your activity</p>
    </ion-item>
  </ion-card>
  
  <ion-card class="wide" (tap)="error()">
    <img src="./assets/imgs/girls.jpg" class="margin" />
    <ion-item class='red'>
      <h2 class="position" style=" color: white;">
        <b>Add friends</b>
      </h2>
      <br/>
      <p class="position1" style=" color: white;">Build your network</p>
    </ion-item>

  </ion-card>




</ion-content>