page-home {

    .center{

        text-align: center;
      }   

.card-background-page {
  // background-color: #2e0729;

  ion-card {
    position: relative;
    text-align: center;
  }

  .center{

    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  .red{
    background-color: #ff0048;
    // margin-top: -40%;
    height: 30%;
    
    }

    .wide{
        width: 100%;
        height: 40%;
        
    }

    .margin{
        margin-top: -25%;
    }

    .position{
        margin-top: 1%;  
    }

    .position1{
        margin-top: -5%;  
    }


    .mid{
      margin-top: 0%;  
  }

  .mid1{
      margin-top: -7%;  
  }

}

}
