page-schedule-game {

    .center{

        text-align: center;
      }

      .text-input-md {
        margin: 13px 8px;
        padding: 0;
        width: calc(100% - 45px - 8px);
        color: white
    }

    .datetime-text {
      -webkit-box-flex: 1;
      min-width: 16px;
      min-height: 1.2em;
      font-size: inherit;
      line-height: 1.2;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      overflow-x: hidden;
      overflow-y: hidden;
      flex: 1 1 0%;
      color: white
  }


      .background{
        background-color: #2e0729;
        
              }

            //   .text-strikethru{

                
            //   }

            .text-strikethru {
                position: relative;
                text-align: center;
                top: 10%;
              }
              
              .line {
                height: 1px;
                background-color: #d9d9de;
                width: 90%;
                margin-left: 5%;
              }

              .text {
                display: inline-block;
                background-color: #2e0729;
                padding: 5px 10px;
                font-size: 14px;
                top: -16px;
                position: relative;
                color: white;
              }


        .pad{
    
            text-align:center;    
    
        } 

        .pad1{
    
          text-align:center;    
  
      }
      .pad2{
    
        text-align:center;    

    }

              .button.customBtn{
                // width:340px;
                 width: 80%;
                 color: #2e0729;
                 
            }

            .button.customBtn1{
                // width:340px;
                 width: 100%;
                 color: white;
                 
            }

            .trans{
              background-color: transparent;
              
              
              }
            // ion-item ion-datetime{
            //   position:relative !important;
            //   width:100%;
            //   }
              
}
