<ion-header color="button_color">

  <ion-navbar color="button_color">

    <ion-title class="center">Schedule Match - {{player_username}}</ion-title> 

  </ion-navbar>

</ion-header>


<ion-content class="background" overflow-scroll="true">

  <div class="text-strikethru">
    <div class="line"></div>
    <div class="text">Enter Preferred location</div>
  </div>

  <br>
  <br>

  <p class="pad">
    <ion-input type="text" placeholder="Enter Preferred location/ venue for game" [(ngModel)]="location" name="location"></ion-input>
  </p>

  <div class="text-strikethru">
    <div class="line"></div>
    <div class="text">Set date</div>
  </div>

  <br>
 
  <p class="pad1">
    
    <ion-item class="trans">
        <!-- <button ion-button round color="secondary" class="button button-dark customBtn"> Match Day </button> -->
     <ion-datetime displayFormat="MM/DD/YYYY " placeholder="Select Date for game" [(ngModel)]="date"></ion-datetime> 
  </ion-item>
  </p>

  <br/>
  <div class="text-strikethru">
    <div class="line"></div>
    <div class="text">Set time</div>
  </div>

  <br>
 
  <p class="pad1">
    
    <ion-item class="trans">
        <!-- <button ion-button round color="secondary" class="button button-dark customBtn"> Match Day </button> -->
     <ion-datetime displayFormat=" h:mm A" placeholder="Select  time for game" [(ngModel)]="time"></ion-datetime> 
  </ion-item>
  </p>

  <ion-footer class="background">
    

      <p class="pad">
        <button ion-button color="button_color" class="button button-dark customBtn1" (tap)="save()"> Save </button>

      </p>
    

  </ion-footer>
</ion-content>