// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  // primary:    #306dd8, // 488aff 306dd8
  primary:    #2e0729, // 488aff 306dd8
  secondary:  #32db64,
  // danger: #f53d3d,
  light: (base: #f7f7f7, contrast: #306dd8),
  custom: #306dd8,
  dark-light: #ccc,
  dark:       #222,
  button_color: #ff0048,
  ash: #d6d6d6
);

$toolbar-background: color($colors, primary);
$background-color: #f7f7f7;
$text-color: #5d5d5d;
$text-input-highlight-color-valid: #5fcfdb;


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

.md button {
  text-transform: none;
}

// Style iOS buttons
.ios button {
  text-transform: none;
}




// $font-family-base: 'MyriadPro';
// $font-family-ios-base: 'MyriadPro';
// $font-family-md-base: 'MyriadPro';
// $font-family-wp-base: 'MyriadPro';
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------
// @import "MyriadPro-Regular";
@import "roboto";
@import "noto-sans";
