// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
  
// @font-face { 
//     font-family: 'MyriadPro';
//     src: url('../assets/fonts/MyriadPro.ttf') format('truetype'), url('../assets/fonts/MyriadPro.ttf') format('truetype'),url('../assets/fonts/MyriadPro');
//     font-weight: normal;
//     font-style: normal;
//   }
  
//   * {
//     font-family: 'MyriadPro';
//   }


@font-face {
    font-family: 'Humanst';
    src: url('../assets/fonts/roboto-light.woff2') format('woff2'), url('../assets/fonts/roboto-light.woff') format('woff'),url('../assets/fonts/roboto-light');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
    font-family: 'Humanst';
  }
// ion-icon {
//     background-repeat: no-repeat;
//     background-position: 50%;
//     background-size: contain;
//     background-size: 18px;

//     &[ng-reflect-name="customicon"] {
//         background-image: url('assets/icon/activity.png');
//         &[ng-reflect-is-active="true"] {
//             background-image: url('assets/icon/activity.png');
//         }
//     }
// }



// .ion-ios-customicon-outline,
// .ion-ios-customicon,.ion-md-customicon,.ion-md-customicon-outline {
//   content: url('/assets/icon/activity.png');
// }




.tabbar, .tabs-ios, .tabs-md , .tabs-wp{
    .tab-button-icon {
        background-repeat:no-repeat;
        background-position:center;
        
        height:60px;
        width:60px;
        background-size:contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        &:before {
            display:none;
        }
    }
}


.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text{

    margin-top: -19px;
    margin-bottom: 0;
}

// .tabs-ios {
//   a[aria-selected=false]{
//      .tab-button-icon[ng-reflect-name=categories], .tab-button-icon[aria-label="categories"] { 
//       background-image: url(../assets/icon/activity.png);
//     }
//     .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
//       background-image: url(../assets/icon/activity.png);
//     }
//     .tab-button-icon[ng-reflect-name=hot], .tab-button-icon[aria-label=hot] {
//       background-image: url(../assets/icon/activity.png);
//     }
//   }
//  a[aria-selected=true] {
 
//     .tab-button-icon[ng-reflect-name=categories], .tab-button-icon[aria-label=categories] {
//       background-image: url(/assets/icon/activity.png);
//     }
//     .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
//       background-image: url(/assets/icon/activity.png);
//     }
//     .tab-button-icon[ng-reflect-name=hot], .tab-button-icon[aria-label=hot] {
//       background-image: url(../assets/icon/activity.png);
//     }
//   }
// }


.tabs-md {

    .tab-button-icon{
        margin-top: -20px;
        min-width: 2.4rem;
        font-size: 2.4rem;
        color: rgba(60, 60, 60, 0.7);
        -webkit-transition: -webkit-transform 0.3s ease-in-out;
        transition: -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        -webkit-transform-origin: 50% 150%;
        transform-origin: 50% 150%;
}

.tab-button-text{
    font-size: 1.0rem;
    text-transform: none;
    }

    .tab-button[aria-selected=true] {
        color: #32db64;
        padding: 0;
    } 
    
    .tab-button[aria-selected=false] {
        color: white;
        padding: 0;
    } 
   
  a[aria-selected=false]{
    background-color: #2e0729;
     .tab-button-icon[ng-reflect-name=message], .tab-button-icon[aria-label="message"] {
      background-image: url(../assets/icon/message.png);
     
    }
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
      background-image: url(../assets/icon/home.png);
    }

    .tab-button-icon[ng-reflect-name=groups], .tab-button-icon[aria-label=groups] {
        background-image: url(../assets/icon/group.png);
      }

      .tab-button-icon[ng-reflect-name=activity], .tab-button-icon[aria-label=activity] {
        background-image: url(../assets/icon/activity.png);
      }
    .tab-button-icon[ng-reflect-name=customicon], .tab-button-icon[aria-label=customicon] {
      background-image: url(../assets/icon/me.png);
    }
  }

 a[aria-selected=true] {
    background-color: #2e0729; 
    color: white;
    .tab-button-icon[ng-reflect-name=message], .tab-button-icon[aria-label=message] {
      background-image: url(../assets/icon/message.png);
      
    }
    .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
      background-image: url(../assets/icon/home.png);
    }
    .tab-button-icon[ng-reflect-name=groups], .tab-button-icon[aria-label=groups] {
        background-image: url(../assets/icon/group.png);
      }

      .tab-button-icon[ng-reflect-name=activity], .tab-button-icon[aria-label=activity] {
        background-image: url(../assets/icon/activity.png);
      }
    .tab-button-icon[ng-reflect-name=customicon], .tab-button-icon[aria-label=customicon] {
      background-image: url(../assets/icon/me.png);
    }
  }
}

// .tabs-wp {
//   a[aria-selected=false]{
//      .tab-button-icon[ng-reflect-name=categories], .tab-button-icon[aria-label="categories"] {
//       background-image: url(../assets/icon/activity.png);
//     }
//     .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
//       background-image: url(../assets/icon/activity.png);
//     }
//     .tab-button-icon[ng-reflect-name=hot], .tab-button-icon[aria-label=hot] {
//       background-image: url(../assets/icon/activity.png);
//     }
//   }

//  a[aria-selected=true] {
  
//     .tab-button-icon[ng-reflect-name=categories], .tab-button-icon[aria-label=categories] {
//       background-image: url(../assets/icon/activity.png);
//     }
//     .tab-button-icon[ng-reflect-name=home], .tab-button-icon[aria-label=home] {
//       background-image: url(../assets/icon/activity.png);
//     }
//     .tab-button-icon[ng-reflect-name=hot], .tab-button-icon[aria-label=hot] {
//       background-image: url(../assets/icon/activity.png);
//     }
//   }
// }
