<ion-content>

  <div id="logo" text-center>
    <img src="./assets/imgs/tennis_back.jpg" class="large">

    <ion-item no-lines class="red"> TENNIS</ion-item>


  </div>

  <br>
  <br>

  <div>
    <form (submit)="doLogin()">

      <br>
      

      <ion-item>
        <ion-label>SKILL LEVEL</ion-label>
        <ion-select>
          <ion-option value="nes">Beginner</ion-option>
          <ion-option value="n64">Intermediate</ion-option>
          <ion-option value="ps">Advanced</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>MODE</ion-label>
        <ion-select>
          <ion-option value="nes">Fun</ion-option>
          <ion-option value="n64">Exercise</ion-option>
          <ion-option value="ps">Competitive</ion-option>
        </ion-select>
      </ion-item>


      <br>
     
      <p class="pad">
        <button ion-button color="secondary" class="button button-dark customBtn" (tap)="proceed()"> PROCEED </button>
      </p>
      



    </form>


  </div>
</ion-content>