<ion-header color="ash">

  <ion-navbar color="ash">

    <!-- <ion-row>
      <ion-col col-7> -->
<div class="center">
    <h5 class="position"><b style=" color: #2e0729"> Pick your sport </b></h5>
      <br>
   <p class="position1" style=" color: #2e0729;"> Choose game you want to play </p>
    
  </div>

    <!-- </ion-col>
    </ion-row> -->
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>


    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/golf_round.png" height="90px" width="90px">
      </ion-thumbnail>
      <h2 style=" color: #2e0729;" (tap)="sport()"><b>GOLF</b></h2>
    </ion-item>

    <ion-item>
        <ion-thumbnail item-start>
          <img src="assets/imgs/tennis_round.png" height="90px" width="90px">
        </ion-thumbnail>
        <h2 style=" color: #2e0729;" (tap)="sport()"><b>TENNIS</b></h2>
      </ion-item>
      <ion-item>
          <ion-thumbnail item-start>
            <img src="assets/imgs/other_img.png" height="90px" width="90px">
          </ion-thumbnail>
          <h2 style=" color: #2e0729;" (tap)="sport()"><b>OTHERS</b></h2>
        </ion-item>

  </ion-list>


</ion-content>