<ion-header color="button_color">

    <ion-navbar color="button_color">
  
      <ion-title class="center">Enter Results</ion-title>
  
    </ion-navbar>
  
  </ion-header>


<ion-content class="background">
    <ion-card class="wide">
        
        <ion-row class='red'>
            <ion-col col-8> 
                <b class="position" style=" color: #2e0729;">{{username}}</b>
            </ion-col>
           
            <ion-col col-4>
                <b class="position" style=" color: #2e0729;">{{player_username}}</b>
            </ion-col>
        </ion-row>
     
        <ion-row>
            <ion-col col-5> 
                <ion-item>
                    <ion-label floating> Scores</ion-label>
                    <ion-input type="text" name="username" [(ngModel)]="user_scores"></ion-input>
                  </ion-item>
            </ion-col>
            <ion-col col-2>
                 
            </ion-col>
            <ion-col col-5>
                <ion-item>
                    <ion-label floating> Scores</ion-label>
                    <ion-input type="text" name="username" [(ngModel)]="opponent_scores"></ion-input>
                  </ion-item>
            </ion-col>
        </ion-row>
        <ion-row >
            
            <p class="pad">
                <button ion-button round color="button_color" class="button button-dark customBtn" (tap)="submitScores()"> Submit </button>
              </p>
          
        </ion-row>
        
      </ion-card>

  

</ion-content>
