page-put-scores {


    .center{

        text-align: center;
      }
      
      .pad{

        text-align:center;  
        margin-left: 25%  

    } 


      .position{
        margin-top: 6%;  
    }

    .position1{
        margin-top: -7%;  
    }


    .background{
        background-color: #2e0729;
        
              }

              .wide{
                width: 100%;
                
                
            }

            .red{
                background-color: #d6d6d6;
                // margin-top: -40%;
                height: 0%;
                
                }


                .green{
                    background-color: #32db64;
                    
                }

                .position{
                    text-align: center;
                    
                    margin-top: 0%;  
                }


                .down{
                    margin-top: 100%; 
                }

                .content-md {
                    color: white;
                }

}
