
.md {

    
    page-schedule-history {
        .center{
    
            text-align: center;
          }
    
          .background{
    background-color: #2e0729;
    
          }


          #margleft{
            margin-right: 5%
          }
          #margleft2{
            margin-right: 10%
          }
    
          .background-t{
            background-color: #2e0729;
            color: white;
            border-bottom-color: #ff0048;
            
                  }
    
          .red{
            // margin-top: -20px;
            background-color: #ff0048;
            text-align: left;
            color: white;
            font-size: 80%;
            height: 0%;
            // margin-top: -10%;
           
        }
      
    
        .list-md .item-block .item-inner {
            border-bottom: 1px solid #ff0048;
          }
    
          .item-md.item-block .item-inner {
             padding-right: 0px;
            
          }
    
          .item-md [item-end] {
            margin: 0px 0px 0px 0;
        }
    
        .item-md ion-avatar[item-start] {
         margin: 0px 0px 0px 0; 
        }
    
        .item-md ion-avatar img {
            border-radius: 50%;
            overflow: hidden;
            width: 80px;
            height: 80px;
            
        }
          .item-md {
            padding-left: 0px;
            padding-right: 0;
            position: relative;
            transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
        .label-md {
            margin: 10px 8px 13px;
        }
    
        .dot {
            height: 10px;
            width: 10px;
            background-color: #32db64;
            border-radius: 50%;
            display: inline-block;
          }
    }



    // ion-modal.my-popup {
    //     @media (min-height: 500px) {
    //       ion-backdrop {
    //         visibility: visible;
    //       }
    //     }
      
    //     position: absolute;
    //     top: 0;
    //     right: 0;
    //     bottom: 0;
    //     left: 0;
    //     z-index: $z-index-overlay;
      
    //     display: flex;
      
    //     align-items: center;
    //     justify-content: center;
      
    //     contain: strict;
    //     .modal-wrapper {
    //       &,
    //       .ion-page,
    //       .ion-page .content,
    //       .ion-page .content .scroll-content {
    //         contain: content;
    //         position: relative;
    //         top: auto;
    //         left: auto;
    //       }
      
    //       z-index: $z-index-overlay-wrapper;
    //       display: flex;
    //       overflow: hidden;
      
    //       flex-direction: column;
      
    //       min-width: $alert-min-width;
    //       max-height: $alert-max-height;
      
    //       opacity: 0;
      
    //       height: auto;
    //       max-width: $alert-md-max-width;
    //       border-radius: $alert-md-border-radius;
    //       background-color: $alert-md-background-color;
    //       box-shadow: $alert-md-box-shadow;
      
    //       .ion-page .content {
    //         background-color: color($colors, light);
    //       }
    //     }
    //   }


    ion-modal.my-popup {
                    @media (min-width: 300px) and (min-height: 500px) {
                      ion-backdrop {
                        visibility: visible;
                      }
                    }
                  
                    .modal-wrapper {
                      position: absolute;
                      overflow: hidden;
                      max-width: 280px;
                      border-radius: 2px;
                      width: 80vw;
                      height: 50vh;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      right: 0;
                      margin: auto;
                      border: 0;
                      box-shadow: 0 16px 20px rgba(0,0,0,.4);
                      background-color: #fafafa;
                    }
                  }
} 