
<ion-header color="button_color">

    <ion-navbar color="button_color">
  
      <ion-title class="center">Scheduled Games</ion-title>
  
    </ion-navbar>
  
  </ion-header>


<ion-content class="background" overflow-scroll="true">

    <ion-list>

      <br>
      
        
      <ion-item *ngFor="let menu of items" class="background-t">
        
          <!-- <h2>{{username}} vs {{ menu.opponent_name}} </h2>
          <p style="color:white">Game Type: Tennis</p>
          <p style="color:white">Location: {{menu.location}}</p>
          <p style="color:white">Date / Time: {{menu.date}}</p>
       
          <ion-icon ios="ios-stats" md="md-stats" (tap)="view()"></ion-icon>
          <ion-icon ios="ios-create" md="md-create"  (tap)="record()"></ion-icon> -->
        
         
          <h2>{{username}} vs {{ menu.opponent_name}} </h2>
          <p style="color:white">Game Type: Tennis</p>
          <p style="color:white">Location: {{menu.location}}</p>
          <p style="color:white">Date: {{menu.date}}</p>
    
          <!-- <img src="./assets/imgs/chat.png" height="60px" width="60px" item-end >
          <img src="./assets/imgs/schedule.png" height="60px" width="60px" item-end> -->
          <ion-icon ios="ios-stats" md="md-stats" height="60px" width="60px" (tap)="view(menu.opponent_name,menu.opponent_id,menu.location,menu.date)" id="margleft" item-end></ion-icon>
          <ion-icon ios="ios-create" md="md-create" height="60px" width="60px" (tap)="record(menu.opponent_name,menu.opponent_id,menu.location,menu.date)" id="margleft2" item-end></ion-icon>
    
    
        </ion-item>

       

          



    
    
       
        
      </ion-list>

</ion-content>
